<section
    class="packshot-voorbeeld packshot-voorbeeld--accessoires"
    id="accessoires"
>
    <div class="container packshot-voorbeeld__grid packshot-voorbeeld__grid--omgekeerd">

        <div class="packshot-gallery packshot-gallery--accessoires">

            <div class="packshot-gallery__groot">

                <img
                    src="{{ url_for('static', path='images/packshotfotografie/accessoirefotografie-blauwe-tas-wespi.png') }}"
                    alt="Professionele accessoirefotografie van een blauwe tas door Wespi"
                >

            </div>

            <div class="packshot-gallery__klein">

                <img
                    src="{{ url_for('static', path='images/packshotfotografie/accessoirefotografie-zonnebril-wespi.png') }}"
                    alt="Professionele accessoirefotografie van een zonnebril door Wespi"
                >

            </div>

            <div class="packshot-gallery__klein">

                <img
                    src="{{ url_for('static', path='images/packshotfotografie/accessoirefotografie-sok-wespi.png') }}"
                    alt="Professionele accessoirefotografie van een sok door Wespi"
                >

            </div>

        </div>


        <div class="packshot-voorbeeld__content">

            <span class="packshot-voorbeeld__bovenkop">
                ACCESSOIREFOTOGRAFIE
            </span>

            <h2>
                Aandacht voor vorm, materiaal en detail.
            </h2>

            <p>
                Van tassen en riemen tot brillen en andere accessoires.
                We fotograferen ieder product met aandacht voor vorm,
                materiaal en kleur, klaar voor gebruik in je webshop
                of catalogus.
            </p>

            <div class="packshot-voorbeeld__prijs">

                <strong>
                    € 9,99
                </strong>

                <small>
                    per product
                </small>

            </div>

            <p class="packshot-voorbeeld__extra">
                Elke extra foto € 2,99.
            </p>

            <ul class="packshot-voorbeeld__lijst">

                <li>Geen minimale aantallen</li>
                <li>Inclusief nabewerking</li>
                <li>Resolutie en formaat naar keuze</li>
                <li>Midden uitgelijnd, JPG of PNG naar keuze</li>
                <li>Andere wensen uiteraard bespreekbaar</li>

            </ul>

        </div>

    </div>

</section>