<section
    class="packshot-categorieen"
    id="mogelijkheden"
>

    <div class="container">

        <div class="packshot-categorieen__kop">

            <span class="packshot-categorieen__bovenkop">
                DE MOGELIJKHEDEN
            </span>

            <h2>
                Wat wil je laten fotograferen?
            </h2>

            <p>
                Van schoenen en accessoires tot andere kleine en middelgrote producten.
                We zorgen voor een verzorgde presentatie die geschikt is voor webshops,
                catalogi en andere verkoopkanalen.
            </p>

        </div>


        <div class="packshot-categorieen__grid">


            <!-- SCHOENEN -->

            <a
                href="#schoenen"
                class="packshot-categorie-kaart"
            >

                <div class="packshot-categorie-visual">

                    <img
                        src="{{ url_for('static', path='images/packshotfotografie/packshot-schoenenfotografie.png') }}"
                        alt="Packshotfotografie van schoenen door Wespi"
                    >

                </div>


                <div class="packshot-categorie-inhoud">

                    <span class="packshot-categorie-label">
                        SCHOENENFOTOGRAFIE
                    </span>

                    <h3>
                        Schoenen
                    </h3>

                    <p>
                        Schoenen strak gefotografeerd vanuit vaste standpunten.
                        Geschikt voor webshops, collecties en productoverzichten.
                    </p>


                    <div class="packshot-categorie-prijs">
                        € 9,99 per product
                    </div>

                </div>

            </a>


            <!-- ACCESSOIRES -->

            <a
                href="#accessoires"
                class="packshot-categorie-kaart"
            >

                <div class="packshot-categorie-visual">

                    <img
                        src="{{ url_for('static', path='images/packshotfotografie/packshot-accessoiresfotografie-riem.png') }}"
                        alt="Packshotfotografie van accessoires zoals riemen door Wespi"
                    >

                </div>


                <div class="packshot-categorie-inhoud">

                    <span class="packshot-categorie-label">
                        ACCESSOIREFOTOGRAFIE
                    </span>

                    <h3>
                        Accessoires
                    </h3>

                    <p>
                        Van riemen en tassen tot andere accessoires.
                        Met aandacht voor vorm, materiaal, kleur
                        en een nette afwerking.
                    </p>


                    <div class="packshot-categorie-prijs">
                        € 9,99 per product
                    </div>

                </div>

            </a>


            <!-- ANDERE PRODUCTEN -->

            <a
                href="#andere-producten"
                class="packshot-categorie-kaart"
            >

                <div class="packshot-categorie-visual">

                    <img
                        src="{{ url_for('static', path='images/packshotfotografie/packshot-productfotografie-drinkfles.png') }}"
                        alt="Packshotfotografie van kleine en middelgrote producten door Wespi"
                    >

                </div>


                <div class="packshot-categorie-inhoud">

                    <span class="packshot-categorie-label">
                        PRODUCTFOTOGRAFIE
                    </span>

                    <h3>
                        Andere producten
                    </h3>

                    <p>
                        Ook andere kleine en middelgrote producten kunnen
                        we efficiënt fotograferen en netjes voorbereiden
                        voor online gebruik.
                    </p>


                    <div class="packshot-categorie-prijs">
                        Vanaf € 9,99 per product
                    </div>

                </div>

            </a>


        </div>

    </div>

</section>