<section
    class="packshot-voorbeeld packshot-voorbeeld--producten"
    id="andere-producten"
>
    <div class="container packshot-voorbeeld__grid">


        <!-- AFBEELDINGEN -->

        <div class="packshot-gallery packshot-gallery--producten">

            <div class="packshot-gallery__groot">

                <img
                    src="{{ url_for('static', path='images/packshotfotografie/productfotografie-boor-wespi.png') }}"
                    alt="Professionele productfotografie van een boor door Wespi"
                >

            </div>


            <div class="packshot-gallery__klein">

                <img
                    src="{{ url_for('static', path='images/packshotfotografie/productfotografie-wandklok-wespi.png') }}"
                    alt="Professionele productfotografie van een wandklok door Wespi"
                >

            </div>


            <div class="packshot-gallery__klein">

                <img
                    src="{{ url_for('static', path='images/packshotfotografie/productfotografie-keramische-schaal-wespi.png') }}"
                    alt="Professionele productfotografie van een keramische schaal door Wespi"
                >

            </div>

        </div>


        <!-- TEKST -->

        <div class="packshot-voorbeeld__content">

            <span class="packshot-voorbeeld__bovenkop">
                PRODUCTFOTOGRAFIE
            </span>

            <h2>
                Meer dan alleen mode.
            </h2>

            <p>
                Naast schoenen en accessoires fotograferen we ook
                andere producten, zoals gereedschap, woonaccessoires
                en keukenartikelen.
            </p>


            <div class="packshot-voorbeeld__prijs">

                <span>
                    Vanaf
                </span>

                <strong>
                    € 9,99
                </strong>

                <small>
                    per product
                </small>

            </div>


            <p class="packshot-voorbeeld__extra">
                Elke extra foto vanaf € 2,99.
            </p>


            <ul class="packshot-voorbeeld__lijst">

                <li>
                    Geen minimale aantallen
                </li>

                <li>
                    Inclusief nabewerking
                </li>

                <li>
                    Resolutie en formaat naar keuze
                </li>

                <li>
                    JPG of PNG naar keuze
                </li>

            </ul>

        </div>

    </div>

</section>