<section
    class="packshot-voorbeeld packshot-voorbeeld--schoenen"
    id="schoenen"
>

    <div class="container packshot-voorbeeld__grid">

        <div class="packshot-gallery packshot-gallery--schoenen">

            <div class="packshot-gallery__groot">

                <img
                    src="{{ url_for('static', path='images/packshotfotografie/packshot-schoenen-hoofdfoto.png') }}"
                    alt="Professionele packshotfotografie van bruine schoen door Wespi"
                >

            </div>

            <div class="packshot-gallery__klein">

                <img
                    src="{{ url_for('static', path='images/packshotfotografie/packshot-schoenen-sneaker.png') }}"
                    alt="Packshotfotografie van sneaker door Wespi"
                >

            </div>

            <div class="packshot-gallery__klein">

                <img
                    src="{{ url_for('static', path='images/packshotfotografie/packshot-schoenen-slipper.png') }}"
                    alt="Packshotfotografie van slipper door Wespi"
                >

            </div>

        </div>


        <div class="packshot-voorbeeld__content">

            <span class="packshot-voorbeeld__bovenkop">
                SCHOENENFOTOGRAFIE
            </span>

            <h2>
                Schoenen strak en verzorgd in beeld.
            </h2>

            <p>
                Van sneakers en kinderschoenen tot slippers.
                We fotograferen schoenen met aandacht voor vorm,
                materiaal en kleur, klaar voor gebruik in je webshop
                of catalogus.
            </p>

            <div class="packshot-voorbeeld__prijs">

                <strong>
                    € 9,99
                </strong>

                <small>
                    per product
                </small>

            </div>

            <p class="packshot-voorbeeld__extra">
                Elke extra foto € 2,99.
            </p>

            <ul class="packshot-voorbeeld__lijst">

                <li>Geen minimale aantallen</li>
                <li>Inclusief nabewerking</li>
                <li>Resolutie en formaat naar keuze</li>
                <li>Midden uitgelijnd, JPG of PNG naar keuze</li>
                <li>Andere wensen uiteraard bespreekbaar</li>

            </ul>

        </div>

    </div>

</section>