<section class="waarom-beeld">

    <div class="container">

        <div class="waarom-beeld-inhoud">

            <div class="waarom-beeld-tekst">

                <span class="waarom-beeld-bovenkop">
                    BEELD DAT KLAAR IS VOOR GEBRUIK
                </span>

                <h2>
                    Goed beeld.
                    <span>
                        Goed geregeld.
                    </span>
                </h2>

                <p>
                    Wespi combineert fotografie en beeldbewerking
                    met een praktische werkwijze. Van enkele producten
                    tot complete collecties en grote beeldvolumes.
                </p>

            </div>


            <div class="waarom-beeld-punten">

                <span>
                    Consistent
                </span>

                <span>
                    Professioneel nabewerkt
                </span>

                <span>
                    Direct bruikbaar
                </span>

            </div>

        </div>

    </div>


    <div class="waarom-beeld-accent"></div>

</section>