{% extends "base.html" %}


{% block title %}
Kledingfotografie voor webshops en merken | Wespi
{% endblock %}


{% block meta_description %}
Professionele kledingfotografie voor webshops en merken. Bodyform, ghost mannequin en platte fotografie voor consistente collecties en e-commerce.
{% endblock %}


{% block canonical %}
<link
    rel="canonical"
    href="https://www.wespi.nl/productfotografie/kledingfotografie"
>
{% endblock %}


{% block content %}

    {% include "onderdelen/kledingfotografie/hero.html" %}
    {% include "onderdelen/kledingfotografie/usp-balk.html" %}
    {% include "onderdelen/kledingfotografie/bodyform.html" %}
    {% include "onderdelen/kledingfotografie/styleshoots.html" %}
    {% include "onderdelen/kledingfotografie/platte-fotografie.html" %}
    {% include "onderdelen/kledingfotografie/werkwijze.html" %}
    {% include "onderdelen/kledingfotografie/klanten.html" %}
       
{% endblock %}